---
import CardLaunch from "../components/CardLaunch.astro";
import { getLatestLaunches } from "../lib/spacex.ts";

const launches = await getLatestLaunches();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 text-white">
  {
    launches.map((launch) => (
      <CardLaunch
        id={launch.id}
        details={launch.details}
        success={launch.success}
        flightNumber={launch.flight_number}
        img={launch.links.patch.small}
      >
        <img src={launch.links.patch.small} />
        <h2>Launch #{launch.id}</h2>
      </CardLaunch>
    ))
  }
</div>
